.container {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

.hide{
  display:none;
}
/*********** Input Section ********/
.repositoryInputSection {
  width: 100%;
  flex: 1;
  padding: 2rem 3rem;
  background-color: #0d1024;
}

.respositoryInfo{
  margin: 1rem 0 0 0;
  display:flex;
}

.repositoryName{
  display: flex;
}

.searchInput{
  height: 2rem;
  border-radius: .25rem 0 0 .25rem;
  border: 1px;
  flex:1;
  padding: 1rem;
}

.searchInput::placeholder {
  font-size: 80%;
}

.searchInput:focus {
  outline:unset;
}

.searchIcon{
  background-image: url('../media/search.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0 .25rem .25rem 0;
  height: 2rem;
  width: 2rem;
  background-color: white;
}

.star{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0 .25rem .25rem 0;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 .25rem;
}

.nonFavorite{
  background-image:  url('../media/nonFavorite.png');
  filter: saturate(14%) contrast(800%) brightness(-6%) invert(146%) sepia(63%) hue-rotate(
122deg);
  height: 1.3rem;
    width: 1.3rem;
}

.favorite{
  background-image:  url('../media/favorite.png');
}

.repoList{
  padding:unset;
  transition: all 1s;
}

.repoItem{
  background-color: #08080c;
  margin: 1rem auto;
  list-style: none;
  padding: 1rem .5rem;
  border-left: 0.5rem solid;
  transition: transform .2s;
}

.repoItem:hover {
  transform: scale(1.1);
  margin: 0 auto;
}

.repoItem:hover .deleteIcon{
  visibility: visible;
  z-index: 1;
  opacity: 1;
  transition: all .5s ease-in-out;
  cursor:pointer
}

.deleteIcon{
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  background-image:  url('../media/delete.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1.5rem;
  width: 1.5rem;
}

.ownerName, .timestamp{
  color: grey;
  margin: 0 .2rem;
  color: grey;
  margin: 0 0.2rem;
  align-self: center;
}

.repoName, .follower{
  color:white;
  font-weight: bold;
  margin: .2rem 0;
}

.repoName {
  flex:1;
}

.inputWrapper{
  display:flex
}

.searchedOptions input{
  border-bottom-left-radius:0;
}
.searchedOptions div{
  border-bottom-right-radius:0;
}
/************************/

/************************/

.searchRepoListWrapper{
  
  
}

.searchRepoList{
  background-color: white;
  list-style: none;
  margin:unset;
  padding:unset
}

.searchRepoListItem{
  padding: 1rem;
  cursor:pointer;
}

.searchRepoListItem span:nth-child(2){
  color: black;
}

/************************/

/*********** Grid ********/

.highcharts-grid-line:first-of-type{
  fill:grey;
}

.highchart {
  height: 100%;
}

/************************/